<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.usernames) { %>
      <ul>
        <% usernames.forEach(username => { %>
          <li><%= username.username %></li>
        <%});%>
      </ul>
    <% } else { %>
      <p>Sorry! No users....</p>
    <% } %>
    <a href="/new"><button>Create user</button></a>
  </body>
</html>
