<html>
  <body>
    <h2>Users</h2>
    <%- include('navbar', {links}) %>
    <% users.forEach((user) => { %>
    <%- include('users/user', {user: user}); %>
  <% }); %>
    <%- include('footer') %>
  </body>
</html>